@import '~bootstrap';

.Comment {
  &__submit-btn,
  &__submit-btn:active,
  &__submit-btn:focus {
    @extend .btn;
    @extend .btn-dark;
    @extend .w-100;
    background: #f54555;
    border-color: #f54555;
  }
}

.gravatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:20%;
}